{% extends 'base/base.html' %}

{% block title %}
	<title>all post</title>
{% endblock %}

{% block content %}
	<section class="zq_blog_list-area pt-100 pb-60">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="zq_blog_list-left mb-40">
                                        <div class="zq_blog_list-wrap">
                                            <div class="zq_blog_list-item mb-30">
                                                <div class="zq_blog_list-item-img">
                                                    <a href="blog-details.html">
                                                        <img src="assets/images/blog/blog_big-1.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="zq_blog_list-item-content">
                                                    <div class="zq_blog_list-item-content-meta">
                                                        <span><i class="fa-solid fa-user"></i><a href="#">محراب قاسمی</a></span>
                                                        <span><i class="fa-sharp fa-light fa-message-lines"></i><a href="#">3 دیدگاه</a></span>
                                                    </div>
                                                    <h3 class="zq_blog_list-item-content-title"><a href="blog-details.html">چگونه هنگام ایجاد یک وب سایت کدنویسی رنگ ها را انتخاب کنیم؟</a></h3>
                                                    <p> ما تیمی متشکل از متخصصان اختصاصی ثبت اختراع هستیم که با تعهد خود به حفاظت از حق ثبت اختراع برتری داریم. با سالها تجربه جمعی</p>
                                                    <a href="blog-details.html" class="zq_blog_list-item-content-btn">بیشتر بخوانید</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="zq_inner-pagination text-center pt-20">
                                            <ul>
                                                <li><a href="#"><i class="fa-light fa-angle-right"></i></a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#"><i class="fa-light fa-angle-left"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="zq_blog_widget-wrap mb-40 ml-30">
                                        <div class="zq_blog-widget">
                                            <h4 class="zq_blog-widget-title">جستجو</h4>
                                            <form action="#">
                                                <input type="email" placeholder="جستجو">
                                                <button type="submit"><i class="fa-light fa-magnifying-glass"></i></button>
                                            </form>
                                        </div>
                                        <div class="zq_blog-widget">
                                            <h4 class="zq_blog-widget-title">پست های محبوب</h4>
                                            <div class="zq_blog-widget-post mb-15">
                                                <div class="zq_blog-widget-post-img">
                                                    <a href="blog-details.html">
                                                        <img src="assets/images/blog/blog_post-1.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="zq_blog-widget-post-content">
                                                    <h4><a href="blog-details.html">مکالمات دیسک دیجیتال در راه حل های نوآورانه فناوری اطلاعات</a></h4>
                                                    <span><i class="fa-sharp fa-light fa-calendar"></i> 18 اردیبهشت 1403</span>
                                                </div>
                                            </div>
                                            <div class="zq_blog-widget-post mb-15">
                                                <div class="zq_blog-widget-post-img">
                                                    <a href="blog-details.html">
                                                        <img src="assets/images/blog/blog_post-2.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="zq_blog-widget-post-content">
                                                    <h4><a href="blog-details.html">فراتر از مرز ترسیم سرزمین های جدید در راه حل های فناوری اطلاعات</a></h4>
                                                    <span><i class="fa-sharp fa-light fa-calendar"></i> 18 اردیبهشت 1403</span>
                                                </div>
                                            </div>
                                            <div class="zq_blog-widget-post">
                                                <div class="zq_blog-widget-post-img">
                                                    <a href="blog-details.html">
                                                        <img src="assets/images/blog/blog_post-3.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="zq_blog-widget-post-content">
                                                    <h4><a href="blog-details.html">رونمایی از راهکارهای پیشرفته فناوری اطلاعات</a></h4>
                                                    <span><i class="fa-sharp fa-light fa-calendar"></i> 18 اردیبهشت 1403</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="zq_blog-widget">
                                            <h4 class="zq_blog-widget-title">دسته بندی</h4>
                                            <ul class="zq_blog-widget-category">
                                                <li><a href="#"> رهبری فناوری <span>(03)</span></a></li>
                                                <li><a href="#">گفتگوهای فنی <span>(04)</span></a></li>
                                                <li><a href="#">روندهای فنی <span>(02)</span></a></li>
                                                <li><a href="#">نوآوری <span>(05)</span></a></li>
                                                <li><a href="#">ماشین لرنینگ<span>(02)</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="zq_blog-widget">
                                            <h4 class="zq_blog-widget-title">تگ های محبوب</h4>
                                            <div class="zq_blog-widget-tag">
                                                <a href="#"> هوش مصنوعی دیجیتال</a>
                                                <a href="#">تکنولوژی نوآوری</a>
                                                <a href="#"> هوش مصنوعی آینده</a>
                                                <a href="#">وبلاگ فناوری</a>
                                                <a href="#"> کدگذاری هوش مصنوعی</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
{% endblock %}